/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #6b6969;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #595757;
  margin: 8px;
}
